
.App{
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    background-color: #3585F7;
}

.header__heading{
    text-align: center;
    padding: 15px 0px;
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    flex-grow: 1;
}

.footer{
    width: 100%;
    background-color: yellow;
   
}