.TaskList{
    background-color: rgba(170, 166, 166, 0.171);
    min-width: 400px;
    margin-top: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-right: 20px solid #03a4cc;
    margin-bottom: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.taskListHeader{
    text-align: center;
    color: #3585F7;
    padding: 5px 0px 10px 15px;
    font-size: 30px;
    margin-bottom: 10px;
}
.taskListHeader__noList{
    text-align: center;
}